body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #f7efee;
    color: #531313
}

.navigationbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(237, 204, 204);
    padding: 0.2rem;
}

.linkstopage {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.linkstopage a:hover{
    text-decoration: underline;
}

.linkstopage a {
    color: #531313;
   font-weight: bold;
   text-decoration: dotted;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
}

.card {
    background-color: rgb(234, 199, 199);
    border: 1px;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.card h3{
    margin-bottom: 0.5rem;
    color: #5c2424
}

footer {
    color: #5c2424;
    padding: 2px;
    margin: 20px
}

.button {
    background-color: #531313;
    color: white;
    border: none;
    padding: 0.5rem 1.0rem;
    margin-bottom: 1rem;
}

.delete{
    background-color: #6a1a1a;
}

.cancel{
    background-color: #777;
}

.actionButton{
    display: flex;
    gap: 10px;
    margin-bottom: 1rem;
}

.incomeData {
    width: 90%;
    border-collapse: collapse;
    background-color: #f7efee;
}

.incomeData th, .incomeData td{
    padding: 1rem;
    border-bottom: 1px;
    text-align: left;
}

.add {
    display: none;
    position:relative;
    left: 0;
    top:0;
    width: 85%;
    height: 85%;
    /* background-color: rgba(0,0,0,0.05); */
    z-index: 10;
}

.addData {
    background-color: white;
    margin: 10% auto;
    padding: 2rem;
    border-radius: 10px;
    width: 90%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05)
}

.add{
    text-align: center;
    max-width: 400px;
}

.confirmationButton{
    display:flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.addData h3{
    margin-top: 0;
}

.addData input{
    width: 90%;
    padding: 0.6rem;
    margin: 0.5rem 0 1rem 0;
    border-radius: 5px;
    border: 1px solid;
}

.close {
    float: right;
    font-size: 1.2rem;
    cursor: pointer;
}

.actionButton{
    padding: 0.3rem 0.6rem;
    margin: 0 0.2rem;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
    transition: background-color 0.2s;
}

.edit{
    background-color: #4a6fa5;
    color: white;
}

.delete{
    background-color: #a03c3c;
    color: white;
}